@import "placeholders.scss";
@import "variables";
@import "mixins";

*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 12px;
}

.name {
    text-align: center;
    margin: 20px 0;
    min-width: 323px;
    font-size: 5rem;
}

.contact{
    
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 7px 0;
    width: 80%;
    @extend %stretch-limits;
    margin: 0 auto;
    
    li{
     display: inline-block;
     font-size: 2.5rem;
     
     img{
        margin-right: 5px;
        }
    }
}

.left{
    margin-left: 10px;
}

.objective, .summary, .education, .exp, .references, .hobbies{
    @extend %center-main-blocks;
    @extend %stretch-limits;
}

h3{
    font-size: 3rem;
    padding: 7px 0;
}

#expEntry, #refEntry{
    width: 500px;
}

p{
    font-size: 2rem;
}

li{
    font-size: 2rem;
    margin-left: 25px;
    padding: 3px 0;
}
